Source: efc-jruby
Section: efficientcloud
Priority: extra
Maintainer: EfficientCloud Technical Staff <support@efficientcloud.com>
Build-Depends: debhelper (>= 7.0.50~), openjdk-6-jre-headless, patch
Standards-Version: 3.9.2

Package: efc-runtime-jruby
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, openjdk-6-jre-headless
Description: JRuby Runtime
  JRuby.
